/* ============== GLOBAL DEFINITION ============== */
body {
    background-color: #C7CEDA;
    margin: 0px;

    --standard-side-padding: 150px;
}

/* Line-wrap for deduck poems */
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

ul {
    list-style-type: "- ";
    margin-top: 4px;
}

a {
    text-decoration: underline;
    color: black;
}

blockquote {
    border-left: black;
    border-style: none none none solid;
    padding-left: 15px;
    border-width: 1px;
    margin-left: 20px;
}


/*========== FONT ============*/
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg; /* This handles both upright and italic */
  src: url('../fonts/InterVariable.woff2') format('woff2-variations'),
       url('../fonts/InterVariable.woff2') format('woff2');
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

/* To use italics with this specific file: */
em, i, .italic {
  font-variation-settings: "slnt" -10; /* The variable axis for italics */
  font-style: oblique 10deg;
}


/* ========= TOP BAR / HEADER ========== */
.top-bar-menu {
    padding-bottom: 15px;
}

#top-bar-title {
    display: inline-block;

    margin-top: 40px;
    margin-left: var(--standard-side-padding);

    font-size: 23px;
    text-decoration: none;
    color: black;
}



/* ========= MAIN CONTENT ========== */
.main-content {
    padding-bottom: 60px !important;
}

.change-mode-link {
    position: absolute;
    top: 60%;
    right: 100px;
}

.shayu-mode-link {
    position: absolute;
    top: 60%;
    right: 25%;
}

.classic-content-block {
    margin-left: var(--standard-side-padding);
    margin-right: var(--standard-side-padding);
}




.excerpt-entry {
    margin: 40px auto;
    max-width: 800px;
}

.excerpt-entry p {
    text-indent: 4ch;
}

.excerpt-entry img {
    max-width: 800px;
}