/* ============== GLOBAL DEFINITION ============== */
body {
    background-color: #F9F8DB;
}

/* Line-wrap for deduck poems */
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

ul {
    list-style-type: "- ";
    margin-top: 4px;
}

a {
    text-decoration: none;
    color: black;
}


/* ========= TOP BAR / HEADER ========== */
.topBarMenu {
    padding-bottom: 15px;
}

#topBarTitle {
    display: inline-block;

    padding-top: 40px;
    padding-left: 150px;

    font-size: 25px;
    text-decoration: none;
    color: black;
}



/* ========= FOOTER ========== */
.footerDiv {
    position: fixed;
    bottom: 0;
    width: 98vw;
    height: 60px;
    background-color: white;
}



/* ========= MAIN CONTENT ========== */
.mainContent {
    padding-bottom: 60px !important; /* cbeauce todo */
}

.sectionTitle {
    color: black;
    font-weight: bold;
}

.changeModeLink {
    position: absolute;
    top: 60%;
    left: 10%;
}

.classicContentBlock {
    margin-left: 150px;
    margin-right: 30%;
}

.racineEauTable th, td {
    text-align: left;
}

.shayuImageBlock {
    position: absolute;
    top: 75%;
    left: 60%;
}

.indexLine {
    color: white;
}