/* ============== GLOBAL DEFINITION ============== */
/* Line-wrap for deduck poems */
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

ul {
    list-style-type: "- ";
    margin-top: 4px;
}

a {
    text-decoration: none;
    color: black;
}


/* ========= TOP BAR / HEADER ========== */
.topBarTitleLink {
    text-decoration: none;
}

.topBarCategoryLink {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 17px;
    line-height: 2.7;
}

.topBarMenu {
    display: flex;
    flex-direction: row;
}

.topBarElement {
    align-content: end;
}

#topBarTitle {
    width: 300px;
}

#topBarRacines {
    width: 100px;
}

#topBarRhizomes {
    width: 120px;
}

#topBarManieresdEtre {
    width: 175px;
}



#mainTitle {
    color: black;
}



/* ========= FOOTER ========== */
.footerDiv {
    width: 98vw;
}



/* ========= MAIN CONTENT ========== */
.sectionTitle {
    color: black;
    font-weight: bold;
}

.changeModeLink {
    position: absolute;
    top: 60%;
    left: 10%;
}

.classicContentBlock {
    margin-left: 300px;
    margin-right: 30%;
}

.racineEauTable th, td {
    text-align: left;
}

.shayuImageBlock {
    position: absolute;
    top: 75%;
    left: 60%;
}

.indexLine {
    color: white;
}