.yaxuan-poem {
    margin: 0px auto;
    max-width: 800px;
    
    line-height: 1.6;
    font-size: 18px;
}

.yaxuan-poem-chinese {
}

.yaxuan-poem-francais {
}

.poem-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chinese, .french {
    box-sizing: border-box;
}
