.film-entry {
    margin: 40px auto;
    max-width: 800px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px
}

.film-entry p {
    text-indent: 36px;
}

.film-entry img {
    max-width: 800px;
}

.film-title {
    font-weight: 800;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

h3 {
    display: flex;
    justify-content: center;
    margin-top: 57px;
}

blockquote {
    font-size: 17px;
}

.film-entry iframe {
    display: block;
    margin: auto;
}