.filmReview {
    margin: 40px auto;
    max-width: 800px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px
}

.filmReview img {
    height: 100%;
    width: 100%;
}

.filmReview p {
    text-indent: 4ch;
}

.textHeader {
    font-style: italic;
}

h1,
h2,
h3 {
    line-height: 1.2
}