.film-review {
    font-weight: 400;
    margin: 40px auto;
    max-width: 800px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px
}

.film-review img {
    height: 100%;
    width: 100%;
}

.film-review p {
    text-indent: 36px;
}

.textHeader {
    font-style: italic;
}

h1,
h2,
h3 {
    line-height: 1.2
}