.yaxuanPoem {
    margin: 40px auto;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px
}

.yaxuanPoemChinese {
    font-family: Arial,Helvetica,sans-serif;
}

.yaxuanPoemFrancais {
    font-family: Arial,Helvetica,sans-serif;
}

.yaxuanPoemEnglish {
    font-family: Arial,Helvetica,sans-serif;
}

.container {
    display: flex;
}

.chinese, .french {
    width: 50%;
    box-sizing: border-box;
    padding-left: 80px;
    padding-right: 50px;
}
