.diary-entry {
    margin: 40px auto;
    max-width: 800px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px
}

.diary-entry p {
    text-indent: 36px;
}

.diary-entry img {
    max-width: 800px;
}

.diary-entry a {
    color: #00E !important;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

h3 {
    display: flex;
    justify-content: center;
    margin-top: 57px;
}

blockquote {
    font-size: 17px;
}